@keyframes animationDispositivos {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(6%);
    }
}

#boxSobreTechs {
    margin-top: 100px;
    display: grid;
    grid-template-areas: 'boxSobre divTechs';
    gap: 50px;
}

#imgPc {
    width: 350px;
    animation: animationDispositivos 2s infinite alternate;
    animation-timing-function: cubic-bezier(0.5, 0.05, 0.1, 0.3);
}

#titleTech {
    text-align: center;
    margin-bottom: 13px;
    font-size: 2.2em;
}

#textSobre {
    text-indent: 10px;
    text-align: start;
    font-size: 1.3em;
}

#textSobre p {
    margin: 0;
}

.titles {
    margin: 0px 0px 10px 0px;
    font-size: 2em;
    color: #8099eb;
    text-align: start;
}

#carrosel {
    width: 800px;
    margin: auto;
}

#divCerti {
    margin: 10vh 0vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#titleCerti {
    font-size: 2.2em;
    text-align: center;
}

.imgsCerti {
    border-radius: 10px;
    width: 800px;
    height: auto;
}

#contact {
    margin: 0px 10px;
    background-color: #8099eb;
    color: white;
    padding: 7px 5%;
    border: 3px solid #8099eb;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    outline: 0;
    transition: .5s;
} 

#contact:hover {
    background-color: transparent;
    color: #8099eb;
    border: 3px solid #8099eb;

}

#divContacts{
    padding: 10px 0px;
    background-color: #0a0913;
    border-radius: 10px;
    width: 100%;
    margin-top: 100px;
}

#titleContact {
    text-indent: 10px;
    font-size: 1.5em;
    margin: 0;
}

#textContact {
    color: rgb(214, 214, 214);
}

#meiosContacts {
    padding: 10px;
}

#divInfos {
    margin: 20px;
}

#divTexts {
    margin-left: 30px;
}

.boxContacts {
    margin: 10px 0px;
    display: flex;
    align-items: center;
}

.textInfo {
    margin: 0px 10px;
    font-size: 1.2em;
}

#boxInfoAndCell {
    display: grid;
    grid-template-areas: 'divInfos imgCell';
}

#imgCell {
    transform: translateY(-50px);
    margin-left: 15vw;
}

#cell {
    animation: animationDispositivos 2s infinite alternate;
    animation-timing-function: cubic-bezier(0.5, 0.05, 0.1, 0.3);
    width: 200px;
}

@media screen and (max-width: 1115px) {
    #boxSobreTechs {
        grid-template-areas: 'boxSobre';
    }
    #textSobre {
        text-align: center;
    }
    .titles {
        text-align: center;
    }
    #containerTechs {
        display: none;
    }
    #contact {
        width: 400px;
    } 
}