#homePage {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 35px;
    height: 80vh;
    margin: 0 8%;
}

#textPresentation {
    font-size: 1.5em;
}

#myName {
    font-size: 2em;
    font-weight: bold;
}

#img {
    display: flex;
    justify-content: center;
    width: 250px;
    height: 250px;
    background-color: #78C1F3;
    border-radius: 100%;
}

#divLogos {
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

@keyframes animationTechs {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(30%);
    }
}

.logosTech {
    margin: 9px;
    animation: animationTechs 2s infinite alternate;
    animation-timing-function: cubic-bezier(0.5, 0.05, 0.1, 0.3);
}

@keyframes animationGit {
    from {
        transform: translateY(50%);
    }
    to {
        transform: translateY(0%);
    }
}

#logoGit {
    animation: animationGit 2s infinite alternate;
    animation-timing-function: cubic-bezier(0.5, 0.05, 0.1, 0.3);
}