#boxCardsProje{
    display: grid;
    width: 100%;
    gap: 10px;
}

.divCardsProject {
  background-color: rgba(37, 37, 37, 0.5);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  padding: 8px;
  border: 1px solid rgb(56, 56, 56);
  display: grid;
  grid-template-areas: 'divNameDescri divImg';
}

.divNameDescri {
    margin: 1.5vh;
}

.divImg {
    width: 460px;
}

.imgProje {
    width: 100%;
    border-radius: 5px;
}

.nameProject {
    margin: 1vh;
    font-size: 1.5em;
    font-weight: bold;
    color: #8099eb;
}

.descriProject {
    width: 90%;
    font-size: 1.2em;
}

.btnsProjetos {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    background-color: #8099eb;
    color: white;
    padding: 5px;
    border: none;
    font-size: 1.1em;
    border-radius: 5px;
    cursor: pointer;
    outline: 0;
}

.divBtnVeja {
    width: 133px;
    margin: 15px 0px;
}

#divBreve {
    text-align: center;
    padding: 10px;
    background-color: rgba(37, 37, 37, 0.5);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 1px solid rgb(56, 56, 56);
}

#divTechs {
    display: grid;
    grid-template-areas: 'cardsTech cardsTech cardsTech ';
    justify-content: center;
    gap: 10px;
    padding: 0px 15px 15px 15px;
}

@keyframes cardTech {
    from {
        
        transform: translateY(0%);
    }
    to {
        box-shadow: 0px 0px 5px 1px rgb(56, 56, 56);
        transform: translateY(1%);
    }
}

.cardsTech {
    animation: cardTech 1s infinite alternate;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(37, 37, 37, 0.5);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  padding: 5px;
  transition: .5s;
  border: 1px solid rgb(56, 56, 56);
}

.cardsTech:hover {
    box-shadow: 0px 0px 10px 1px rgb(56, 56, 56);
}

.nameTech {
    color: #8099eb;
    margin: 5px 0px;
    font-size: 0.8em;
}

.divBtnTechs {
    display: flex;
    align-items: center;
    gap: 10px;
}