@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: #ffffff;
}

a {
  text-decoration: none;
}

section {
  margin: 20px 10%;
  overflow: hidden;
}

.title {
 color: #78C1F3;
}

.slide-in {
  animation: slideIn 1s ease-in-out;
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0% );
  }
}
